[Unit]
Description=NEURAL GENESIS IA3 24x7
After=network.target

[Service]
ExecStart=/root/bin/run_neural_genesis.sh
Restart=always
RestartSec=2
WorkingDirectory=/root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
