[Unit]
Description=Mount unit for cursor, revision 1
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/cursor_1.snap
Where=/snap/cursor/1
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
