[Unit]
Description=Mount unit for gh, revision 640
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/gh_640.snap
Where=/snap/gh/640
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
