[Unit]
Description=TEIS Metrics Exporter
After=network.target
[Service]
Type=simple
ExecStart=/root/teis_metrics_server.py
Restart=always
[Install]
WantedBy=multi-user.target